nav {
  background-color: #F4320B;
  text-align: right;
  padding: 10px;
  height: 50px;
  width: auto;
  position: sticky;
}

.content {
	display: grid;
}

nav a {
	color: white;
	text-decoration: none;
	text-shadow: 1px 1px black;
	font-weight:;
}
